.idea
*.pyo
*.pyc
*.imls
.project
.pydevproject
.settings
*.swp
.ropeproject
build
dist
MANIFEST
*.c
*.cpp
*.so
*.pyd
*.h5
*.dta
*flymake*
.coverage
*\#*\#
.tox
*.log
.noseids
.build_cache_dir
.vagrant
*.whl
**/wheelhouse/*